<div class="site_wrapper">
  <div class="topbar dark topbar-padding">
    <div class="container">
      <div class="topbar-left-items">
        <ul class="toplist toppadding pull-left paddtop1">
          <li class="rightl">Customer Care</li>
          <li>(888) 123-4567</li>
        </ul>
      </div>
      <!--end left-->

      <div class="topbar-right-items pull-right">
        <ul class="toplist toppadding">
          <li><a href="{{url_for('index')}}"><i class="fa fa-facebook"></i></a></li>
          <li><a href="{{url_for('index')}}"><i class="fa fa-twitter"></i></a></li>
          <li><a href="{{url_for('index')}}"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="{{url_for('index')}}"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="{{url_for('index')}}" class=" btn btn-red-4 less-top-bottom-padding btn-round btn-small-2">Register</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <div id="header">
    <div class="container-fluid nopadding">
      <div class="navbar red-4 navbar-default yamm">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle two three"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <div class="logo-box">
            <a href="{{url_for('index')}}" class="navbar-brand text-white" style="color:white;font-size: 35px">
            Agency
            </a>
          </div>
        </div>
        <div id="navbar-collapse-grid" class="navbar-collapse collapse pull-right">
          <ul class="nav red-4 navbar-nav">
            <li><a href="{{url_for('index')}}" class="dropdown-toggle active">Home</a></li>
            <li><a href="{{url_for('about')}}" class="dropdown-toggle">About</a></li>
            <li><a href="{{url_for('services')}}" class="dropdown-toggle">Services</a></li>
            <li><a href="{{url_for('portfolio')}}" class="dropdown-toggle">Portfolio</a></li>
            <li><a href="{{url_for('blog')}}" class="dropdown-toggle">Blog</a></li>
            <li><a href="{{url_for('contact')}}" class="dropdown-toggle">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--end menu-->
  <div class="clearfix"></div>